<!--<ul className="list" *ngFor="let p of stockList">
  <li>
    <h1>{{ p.idStock }}</h1>
    <div></div>
    <p>{{ p.libelleStock }}</p>
    <p>{{ p.qte }}</p>
    <p>{{ p.qteMin }}</p>
  </li>
</ul>
<button (click)="onSubmit()">add</button>-->

<div class="col-md-6 offset-md-3">
  <h3>Create Stock</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label> libelleStock</label>
      <input
        type="text"
        class="form-control"
        id="libelleStock"
        [(ngModel)]="stock.libelleStock"
        name="libelleStock"
      />
    </div>

    <div class="form-group">
      <label> qte</label>
      <input
        type="text"
        class="form-control"
        id="qte"
        [(ngModel)]="stock.qte"
        name="qte"
      />
    </div>
    <div class="form-group">
      <label> qteMin</label>
      <input
        type="text"
        class="form-control"
        id="qteMin"
        [(ngModel)]="stock.qteMin"
        name="qteMin"
      />
    </div>

    <button class="btn btn-success" type="submit">Submit</button>
  </form>
</div>
